In [8]:
import pandas as pd
from IPython.display import display, HTML

In [6]:
excel_file_path = [
    "./data/2.28도서관 장서 대출목록 (2024년 06월).xlsx",
]

csv_file_path = [
    "./data/도서관정보_202406.csv"
]

In [15]:
# read excel file
df_excel = {}

df_excel["대출목록(2/28)"] = pd.read_excel(excel_file_path[0], usecols=['도서명', '저자', '출판사', '발행년도', '주제분류번호', '도서권수', '대출건수', '등록일자'])
display(df_excel["대출목록(2/28)"])

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,도서명,저자,출판사,발행년도,주제분류번호,도서권수,대출건수,등록일자
0,"중용, 조선을 바꾼 한 권의 책",백승종 지음,상상박물관,2019,148.2,1,0,2024-06-27
1,해상 실크로드와 동아시아 고대국가,권오영 지음,세창출판사,2019,326.2091,1,0,2024-06-27
2,주련 따라 떠나는 여행,신명철 지음;최태규 사진,상상박물관,2019,981.102,1,0,2024-06-27
3,오래된 서울을 그리다,"정명섭,김효찬 [공]지음",초록비책공방,2019,911.6,1,0,2024-06-27
4,탄,심봉순 지음,북인,2019,813.703,1,0,2024-06-27
...,...,...,...,...,...,...,...,...
55211,청소년 꿈찾기 코칭,우수명 지음,아시아코치센터,2008,320,4,0,2013-01-16
55212,(원색) 대한식물도감=Coloured flora of Korea,이창복 지음,향문사,2005,480.25,1,0,2013-01-16
55213,Biz time:an essential course for business English,파고다 언어교육연구소 지음;오윤경 그림,위트앤위즈덤,2009,747.5,1,0,2013-01-16
55214,개와 고양이,초당글방 글;김지영 그림,꼬네상스,2004,388.311,1,0,2013-01-16
55215,내 거야!,정순희 글·그림,창비,2011,813.8,1,0,2013-01-16

In [10]:
df_excel["대출목록(2/28)"]

AttributeError: 'DataFrame' object has no attribute 'isNan'

### 인구통계자료 처리

In [3]:
%pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 934 kB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
WARNING: You are using pip version 21.2.4; however, version 24.1.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from IPython.display import display, HTML

In [7]:
import os

root = 'data/인구통계자료'
dir_root = os.listdir(root)
dir_root

['★2024년 5월 인구현황.xls',
 '부산광역시 남구_인구현황_20240531.csv',
 '부산광역시 중구_인구 현황_20240131.csv',
 '부산광역시_기장군_주민등록 인구현황_20231130.csv',
 '부산광역시_사상구_주민등록인구현황_20240314.csv',
 '부산광역시_수영구_주민등록 인구통계_20230701.csv',
 '부산광역시 동구 주민등록인구현황_20230228.csv',
 '부산광역시 북구_주민등록 인구통계_20240630.csv',
 '부산광역시 해운대구_인구현황_20240430.csv',
 '부산광역시 영도구_인구현황_20240630.csv',
 '부산광역시 부산진구_인구현황_20201130.csv']

In [35]:
"""
Data
시군구 | 동읍면 | total | 남 | 여 | 18세 이상 total | 18세 이상 남 | 18세 이상 여 | 65세 이상 total | 65세 이상 남 | 65세 이상 여
"""
df_all = pd.DataFrame(columns=['시군구', '동읍면', 'total', 'total_male', 'total_female', 'over_18age_total', 'over_18age_male', 'over_18age_female', 'over_65age_total', 'over_65age_male', 'over_65age_female'])

display(df_all)

Empty DataFrame
Columns: [시군구, 동읍면, total, total_male, total_female, over_18age_total, over_18age_male, over_18age_female, over_65age_total, over_65age_male, over_65age_female]
Index: []

In [36]:
df_gangseogu = pd.read_excel(os.path.join(root, dir_root[0]), sheet_name='인구현황', header=2)
display(df_gangseogu)

,구분 동별,세대수,인 구 수,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,18세이상 인구수,...,Unnamed: 11,65세이상 인구수,Unnamed: 13,Unnamed: 14,통(리)수,반수,면적\n(㎢),비고,Unnamed: 19,Unnamed: 20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,계,남,여,계(전월),남(전월),여(전월),전월대비 증 감,계,...,여,계,남,여,NaN,NaN,NaN,NaN,NaN,NaN
2,계,62312.0,142335,73794,68541,142103,73705,68398,-232,112096,...,53831,20714,9861,10853,172.0,831.0,182.16,NaN,NaN,NaN
3,대저1동,3443.0,5814,3218,2596,5848,3242,2606,34,5511,...,2440,2362,1192,1170,28.0,118.0,17.73,NaN,NaN,NaN
4,대저2동,3501.0,6520,3677,2843,6540,3686,2854,20,5799,...,2513,1855,902,953,22.0,76.0,29.26,NaN,NaN,NaN
5,강동동,2793.0,5002,2634,2368,4699,2488,2211,-303,4502,...,2134,1687,799,888,17.0,75.0,18.49,NaN,NaN,NaN
6,명지1동,21449.0,54341,27274,27067,54321,27273,27048,-20,40141,...,20030,4642,2194,2448,30.0,184.0,12.40,NaN,NaN,NaN
7,명지2동,10446.0,30005,14981,15024,30012,14984,15028,7,21913,...,11097,2817,1323,1494,14.0,92.0,3.25,NaN,NaN,NaN
8,가락동,1251.0,2123,1146,977,2137,1154,983,14,2061,...,947,988,474,514,17.0,48.0,18.95,NaN,NaN,
9,녹산동,16767.0,34234,18587,15647,34251,18601,15650,17,28096,...,12759,4901,2285,2616,31.0,204.0,56.86,NaN,NaN,NaN
10,가덕도동,2662.0,4296,2277,2019,4295,2277,2018,-1,4073,...,1911,1462,692,770,13.0,34.0,25.22,NaN,NaN,NaN

In [70]:
# total 생성
df_list = []
splitted = (df_gangseogu[df_gangseogu['\xa0\xa0       구분                            동별'] == '계'])
column_names = (splitted.columns).to_list()
new_data_head = {
    '시군구': '강서구',
    '동읍면': 'total',
    'total': splitted[column_names[2]],
    'total_male': splitted[column_names[3]],
    'total_female': splitted[column_names[4]],
    'over_18age_total': splitted[column_names[9]],
    'over_18age_male': splitted[column_names[10]],
    'over_18age_female': splitted[column_names[11]],
    'over_65age_total': splitted[column_names[12]],
    'over_65age_male': splitted[column_names[13]],
    'over_65age_female': splitted[column_names[14]],
}

new_df_head = pd.DataFrame.from_dict(data=new_data_head, orient='columns')

df_list.append(new_df_head)

new_df = {
    '시군구': [],
    '동읍면': [],
    'total': [],
    'total_male': [],
    'total_female': [],
    'over_18age_total': [],
    'over_18age_male': [],
    'over_18age_female': [],
    'over_65age_total': [],
    'over_65age_male': [],
    'over_65age_female': [],
}

for k, v in df_gangseogu[3:].items():
    l = []
    for i in v:
        l.append(i)

    if '동별' in k:
        new_df['동읍면'] = l
    elif '인 구 수' == k:
        new_df['total'] = l
    elif ' 3' in k:
        new_df['total_male'] = l
    elif ' 4' in k:
        new_df['total_female'] = l
    elif '18세이상' in k:
        new_df['over_18age_total'] = l
    elif '10' in k:
        new_df['over_18age_male'] = l
    elif '11' in k:
        new_df['over_18age_female'] = l
    elif '65세이상' in k:
        new_df['over_65age_total'] = l
    elif '13' in k:
        new_df['over_65age_male'] = l
    elif '14' in k:
        new_df['over_65age_female'] = l

for i in range(len(new_df['동읍면'])):
    new_df['시군구'].append('강서구')
    
new_df = pd.DataFrame.from_dict(data=new_df, orient='columns')
df_list.append(new_df)

df_all = pd.concat(df_list, ignore_index=True)
display(df_all)

,시군구,동읍면,total,total_male,total_female,over_18age_total,over_18age_male,over_18age_female,over_65age_total,over_65age_male,over_65age_female
0,강서구,total,142335,73794,68541,112096,58265,53831,20714,9861,10853
1,강서구,대저1동,5814,3218,2596,5511,3071,2440,2362,1192,1170
2,강서구,대저2동,6520,3677,2843,5799,3286,2513,1855,902,953
3,강서구,강동동,5002,2634,2368,4502,2368,2134,1687,799,888
4,강서구,명지1동,54341,27274,27067,40141,20111,20030,4642,2194,2448
5,강서구,명지2동,30005,14981,15024,21913,10816,11097,2817,1323,1494
6,강서구,가락동,2123,1146,977,2061,1114,947,988,474,514
7,강서구,녹산동,34234,18587,15647,28096,15337,12759,4901,2285,2616
8,강서구,가덕도동,4296,2277,2019,4073,2162,1911,1462,692,770

In [61]:

for k, v in df_gangseogu[3:].items():
    print(k)
    l = []
    for i in v:
        l.append(i)
    print(l)

         구분                            동별
['대저1동', '대저2동', '강동동', '명지1동', '명지2동', '가락동', '녹산동', '가덕도동']
세대수
[3443.0, 3501.0, 2793.0, 21449.0, 10446.0, 1251.0, 16767.0, 2662.0]
인 구 수
[5814, 6520, 5002, 54341, 30005, 2123, 34234, 4296]
Unnamed: 3
[3218, 3677, 2634, 27274, 14981, 1146, 18587, 2277]
Unnamed: 4
[2596, 2843, 2368, 27067, 15024, 977, 15647, 2019]
Unnamed: 5
[5848, 6540, 4699, 54321, 30012, 2137, 34251, 4295]
Unnamed: 6
[3242, 3686, 2488, 27273, 14984, 1154, 18601, 2277]
Unnamed: 7
[2606, 2854, 2211, 27048, 15028, 983, 15650, 2018]
Unnamed: 8
[34, 20, -303, -20, 7, 14, 17, -1]
18세이상 인구수
[5511, 5799, 4502, 40141, 21913, 2061, 28096, 4073]
Unnamed: 10
[3071, 3286, 2368, 20111, 10816, 1114, 15337, 2162]
Unnamed: 11
[2440, 2513, 2134, 20030, 11097, 947, 12759, 1911]
65세이상 인구수
[2362, 1855, 1687, 4642, 2817, 988, 4901, 1462]
Unnamed: 13
[1192, 902, 799, 2194, 1323, 474, 2285, 692]
Unnamed: 14
[1170, 953, 888, 2448, 1494, 514, 2616, 770]
통(리)수
[28.0, 22.0, 17.0, 30.0, 14.0, 17.0, 31.0, 13.0]
반수
[118.0, 76.0, 75.0, 184.0, 92.0, 48.0, 204.0, 34.0]
면적
(㎢)
[17.73, 29.26, 18.49, 12.4, 3.25, 18.95, 56.86, 25.22]
비고
[nan, nan, nan, nan, nan, nan, nan, nan]
Unnamed: 19
[nan, nan, nan, nan, nan, nan, nan, nan]
Unnamed: 20
[nan, nan, nan, nan, nan, ' ', nan, nan]