In [8]:
import pandas as pd
from IPython.display import display, HTML

In [6]:
excel_file_path = [
    "./data/2.28도서관 장서 대출목록 (2024년 06월).xlsx",
]

csv_file_path = [
    "./data/도서관정보_202406.csv"
]

In [15]:
# read excel file
df_excel = {}

df_excel["대출목록(2/28)"] = pd.read_excel(excel_file_path[0], usecols=['도서명', '저자', '출판사', '발행년도', '주제분류번호', '도서권수', '대출건수', '등록일자'])
display(df_excel["대출목록(2/28)"])

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,도서명,저자,출판사,발행년도,주제분류번호,도서권수,대출건수,등록일자
0,"중용, 조선을 바꾼 한 권의 책",백승종 지음,상상박물관,2019,148.2,1,0,2024-06-27
1,해상 실크로드와 동아시아 고대국가,권오영 지음,세창출판사,2019,326.2091,1,0,2024-06-27
2,주련 따라 떠나는 여행,신명철 지음;최태규 사진,상상박물관,2019,981.102,1,0,2024-06-27
3,오래된 서울을 그리다,"정명섭,김효찬 [공]지음",초록비책공방,2019,911.6,1,0,2024-06-27
4,탄,심봉순 지음,북인,2019,813.703,1,0,2024-06-27
...,...,...,...,...,...,...,...,...
55211,청소년 꿈찾기 코칭,우수명 지음,아시아코치센터,2008,320,4,0,2013-01-16
55212,(원색) 대한식물도감=Coloured flora of Korea,이창복 지음,향문사,2005,480.25,1,0,2013-01-16
55213,Biz time:an essential course for business English,파고다 언어교육연구소 지음;오윤경 그림,위트앤위즈덤,2009,747.5,1,0,2013-01-16
55214,개와 고양이,초당글방 글;김지영 그림,꼬네상스,2004,388.311,1,0,2013-01-16
55215,내 거야!,정순희 글·그림,창비,2011,813.8,1,0,2013-01-16

In [10]:
df_excel["대출목록(2/28)"]

AttributeError: 'DataFrame' object has no attribute 'isNan'