### 인구통계자료 처리

In [3]:
%pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 934 kB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
WARNING: You are using pip version 21.2.4; however, version 24.1.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from IPython.display import display, HTML

In [2]:
import os

root = 'data/인구통계자료'
dir_root = os.listdir(root)
dir_root

['★2024년 5월 인구현황.xls',
 '부산광역시 남구_인구현황_20240531.csv',
 '부산광역시 중구_인구 현황_20240131.csv',
 '부산광역시_기장군_주민등록 인구현황_20231130.csv',
 '부산광역시_사상구_주민등록인구현황_20240314.csv',
 '부산광역시_수영구_주민등록 인구통계_20230701.csv',
 '부산광역시 동구 주민등록인구현황_20230228.csv',
 '부산광역시 북구_주민등록 인구통계_20240630.csv',
 'assemble.csv',
 '부산광역시 해운대구_인구현황_20240430.csv',
 '부산광역시 영도구_인구현황_20240630.csv',
 '부산광역시 부산진구_인구현황_20201130.csv']

In [35]:
"""
Data
시군구 | 동읍면 | total | 남 | 여 | 18세 이상 total | 18세 이상 남 | 18세 이상 여 | 65세 이상 total | 65세 이상 남 | 65세 이상 여
"""
df_all = pd.DataFrame(columns=['시군구', '동읍면', 'total', 'total_male', 'total_female', 'over_18age_total', 'over_18age_male', 'over_18age_female', 'over_65age_total', 'over_65age_male', 'over_65age_female'])

display(df_all)

Empty DataFrame
Columns: [시군구, 동읍면, total, total_male, total_female, over_18age_total, over_18age_male, over_18age_female, over_65age_total, over_65age_male, over_65age_female]
Index: []

#### 강서구

In [36]:
df_gangseogu = pd.read_excel(os.path.join(root, dir_root[0]), sheet_name='인구현황', header=2)
display(df_gangseogu)

,구분 동별,세대수,인 구 수,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,18세이상 인구수,...,Unnamed: 11,65세이상 인구수,Unnamed: 13,Unnamed: 14,통(리)수,반수,면적\n(㎢),비고,Unnamed: 19,Unnamed: 20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,계,남,여,계(전월),남(전월),여(전월),전월대비 증 감,계,...,여,계,남,여,NaN,NaN,NaN,NaN,NaN,NaN
2,계,62312.0,142335,73794,68541,142103,73705,68398,-232,112096,...,53831,20714,9861,10853,172.0,831.0,182.16,NaN,NaN,NaN
3,대저1동,3443.0,5814,3218,2596,5848,3242,2606,34,5511,...,2440,2362,1192,1170,28.0,118.0,17.73,NaN,NaN,NaN
4,대저2동,3501.0,6520,3677,2843,6540,3686,2854,20,5799,...,2513,1855,902,953,22.0,76.0,29.26,NaN,NaN,NaN
5,강동동,2793.0,5002,2634,2368,4699,2488,2211,-303,4502,...,2134,1687,799,888,17.0,75.0,18.49,NaN,NaN,NaN
6,명지1동,21449.0,54341,27274,27067,54321,27273,27048,-20,40141,...,20030,4642,2194,2448,30.0,184.0,12.40,NaN,NaN,NaN
7,명지2동,10446.0,30005,14981,15024,30012,14984,15028,7,21913,...,11097,2817,1323,1494,14.0,92.0,3.25,NaN,NaN,NaN
8,가락동,1251.0,2123,1146,977,2137,1154,983,14,2061,...,947,988,474,514,17.0,48.0,18.95,NaN,NaN,
9,녹산동,16767.0,34234,18587,15647,34251,18601,15650,17,28096,...,12759,4901,2285,2616,31.0,204.0,56.86,NaN,NaN,NaN
10,가덕도동,2662.0,4296,2277,2019,4295,2277,2018,-1,4073,...,1911,1462,692,770,13.0,34.0,25.22,NaN,NaN,NaN

In [70]:
# total 생성
df_list = []
splitted = (df_gangseogu[df_gangseogu['\xa0\xa0       구분                            동별'] == '계'])
column_names = (splitted.columns).to_list()
new_data_head = {
    '시군구': '강서구',
    '동읍면': 'total',
    'total': splitted[column_names[2]],
    'total_male': splitted[column_names[3]],
    'total_female': splitted[column_names[4]],
    'over_18age_total': splitted[column_names[9]],
    'over_18age_male': splitted[column_names[10]],
    'over_18age_female': splitted[column_names[11]],
    'over_65age_total': splitted[column_names[12]],
    'over_65age_male': splitted[column_names[13]],
    'over_65age_female': splitted[column_names[14]],
}

new_df_head = pd.DataFrame.from_dict(data=new_data_head, orient='columns')

df_list.append(new_df_head)

new_df = {
    '시군구': [],
    '동읍면': [],
    'total': [],
    'total_male': [],
    'total_female': [],
    'over_18age_total': [],
    'over_18age_male': [],
    'over_18age_female': [],
    'over_65age_total': [],
    'over_65age_male': [],
    'over_65age_female': [],
}

for k, v in df_gangseogu[3:].items():
    l = []
    for i in v:
        l.append(i)

    if '동별' in k:
        new_df['동읍면'] = l
    elif '인 구 수' == k:
        new_df['total'] = l
    elif ' 3' in k:
        new_df['total_male'] = l
    elif ' 4' in k:
        new_df['total_female'] = l
    elif '18세이상' in k:
        new_df['over_18age_total'] = l
    elif '10' in k:
        new_df['over_18age_male'] = l
    elif '11' in k:
        new_df['over_18age_female'] = l
    elif '65세이상' in k:
        new_df['over_65age_total'] = l
    elif '13' in k:
        new_df['over_65age_male'] = l
    elif '14' in k:
        new_df['over_65age_female'] = l

for i in range(len(new_df['동읍면'])):
    new_df['시군구'].append('강서구')
    
new_df = pd.DataFrame.from_dict(data=new_df, orient='columns')
df_list.append(new_df)

df_all = pd.concat(df_list, ignore_index=True)
display(df_all)

,시군구,동읍면,total,total_male,total_female,over_18age_total,over_18age_male,over_18age_female,over_65age_total,over_65age_male,over_65age_female
0,강서구,total,142335,73794,68541,112096,58265,53831,20714,9861,10853
1,강서구,대저1동,5814,3218,2596,5511,3071,2440,2362,1192,1170
2,강서구,대저2동,6520,3677,2843,5799,3286,2513,1855,902,953
3,강서구,강동동,5002,2634,2368,4502,2368,2134,1687,799,888
4,강서구,명지1동,54341,27274,27067,40141,20111,20030,4642,2194,2448
5,강서구,명지2동,30005,14981,15024,21913,10816,11097,2817,1323,1494
6,강서구,가락동,2123,1146,977,2061,1114,947,988,474,514
7,강서구,녹산동,34234,18587,15647,28096,15337,12759,4901,2285,2616
8,강서구,가덕도동,4296,2277,2019,4073,2162,1911,1462,692,770

In [75]:
df_all.to_csv(os.path.join(root, 'assemble.csv'))

#### CSV 파일 취합

In [73]:
new_df = {
    '시군구': [],
    '동읍면': [],
    'total': [],
    'total_male': [],
    'total_female': [],
    'over_18age_total': [],
    'over_18age_male': [],
    'over_18age_female': [],
    'over_65age_total': [],
    'over_65age_male': [],
    'over_65age_female': [],
}

for i in range(1, len(dir_root)):
    df = pd.read_csv(os.path.join(root, dir_root[i]), encoding='cp949')
    for k, v in df.items():
        l = []
        for i in v:
            l.append(i)

        if '구분' in k:
            new_df['동읍면'] = l
        if '계' in k or '인구수'
    display(df)

,구분,세대수,인구수(계),인구수(남),인구수(여),18세이상인구수(계),18세이상인구수(남),18세이상인구수(여),65세이상인구수(계),65세이상인구수(남),65세이상인구수(여),통,반,면적(제곱킬로미터),구성비(퍼센트)
0,대연1동,9454,15409,7793,7616,14577,7385,7192,3774,1591,2183,31,175,1,4
1,대연3동,17971,35619,17423,18196,30460,14705,15755,5023,2188,2835,33,289,4,14
2,대연4동,6342,13904,6744,7160,11967,5770,6197,3433,1451,1982,20,156,1,4
3,대연5동,8464,16519,7868,8651,14795,6947,7848,3766,1615,2151,18,112,1,4
4,대연6동,5823,14646,7033,7613,11859,5645,6214,2608,1147,1461,16,107,1,4
5,용호1동,17164,42452,20274,22178,36008,17039,18969,9330,4075,5255,43,361,2,6
6,용호2동,8139,19551,9443,10108,16561,7922,8639,4465,2012,2453,23,185,2,8
7,용호3동,5524,11108,5352,5756,10263,4905,5358,3734,1604,2130,21,135,2,7
8,용호4동,3660,7676,3663,4013,6936,3290,3646,2246,936,1310,14,90,2,6
9,용 당 동,3458,7763,3899,3864,6868,3439,3429,1937,890,1047,14,84,4,14
10,감만1동,3763,8198,4202,3996,7349,3767,3582,2234,1031,1203,26,181,3,10
11,감만2동,3308,6438,3159,3279,5958,2906,3052,2311,951,1360,14,85,1,3
12,우암동,5669,12112,5918,6194,11068,5350,5718,4099,1762,2337,29,219,1,5
13,문현1동,4762,10792,5286,5506,9652,4671,4981,2872,1212,1660,19,129,1,3
14,문현2동,5092,8381,4182,4199,7760,3848,3912,2148,915,1233,16,102,1,2
15,문현3동,7030,16246,7910,8336,14099,6812,7287,3615,1532,2083,23,155,1,3
16,문현4동,4331,8783,4268,4515,8070,3893,4177,2536,1070,1466,17,126,1,3

    행정기관  인구수(합계)  인구수(남자)  인구수(여자)  구성비(지역)  구성비(남자)  구성비(여자)    세대수
0     중구    40853    20210    20643    100.0     49.5     50.5  23729
1    중앙동     3682     1957     1725      9.0      4.8      4.2   2425
2    동광동     2758     1465     1293      6.8      3.6      3.2   1614
3    대청동     5846     2764     3082     14.3      6.8      7.5   3416
4    보수동    10591     5021     5570     25.9     12.3     13.6   6132
5    부평동     4562     2136     2426     11.2      5.2      5.9   2641
6    광복동      989      529      460      2.4      1.3      1.1    547
7    남포동     1048      703      345      2.6      1.7      0.8    563
8  영주제1동     4652     2405     2247     11.4      5.9      5.5   2873
9  영주제2동     6725     3230     3495     16.5      7.9      8.6   3518

,행정기관,인구수(합계),인\t\t구\t\t수(남),인\t\t구\t\t수(여),구성비,남,여,성비,세대수,세대당인구
0,기장군,178958,88623,90335,100.00,49.52,50.48,98.10,79779,2.24
1,기장읍,52215,25483,26732,29.18,14.24,14.94,95.33,26022,2.01
2,장안읍,8853,4777,4076,4.95,2.67,2.28,117.20,5067,1.75
3,정관읍,80523,39865,40658,45.00,22.28,22.72,98.05,32050,2.51
4,일광읍,29674,14611,15063,16.58,8.16,8.42,97.00,12745,2.33
5,철마면,7693,3887,3806,4.30,2.17,2.13,102.13,3895,1.98

,구 분,행정동별전월대비(인구증감),계(인구수),인구수(남),인구수(여),세대수,계(18세이상),18세이상인구수(남),18세이상인구수(여),통(리)수,반수,면적(km제곱),데이터기준일
0,삼락동,5198,5189,2720,2469,2933,4836,2548,2288,13,66,6.70,2024-03-14
1,모라1동,26366,26303,13062,13241,12255,23694,11738,11956,37,203,1.67,2024-03-14
2,모라3동,9286,9254,4369,4885,6271,8851,4160,4691,18,104,3.34,2024-03-14
3,덕포1동,11572,11638,5883,5755,5609,10214,5172,5042,18,96,0.56,2024-03-14
4,덕포2동,12155,12099,6131,5968,5637,10911,5507,5404,17,110,1.60,2024-03-14
5,괘법동,24276,24296,12466,11830,14607,22687,11631,11056,29,138,3.45,2024-03-14
6,감전동,12125,12099,6405,5694,6885,11363,6023,5340,28,131,3.49,2024-03-14
7,주례1동,16543,16474,8367,8107,7105,14504,7337,7167,23,111,1.53,2024-03-14
8,주례2동,21659,21686,10820,10866,11346,19479,9687,9792,31,151,2.37,2024-03-14
9,주례3동,12223,12193,5931,6262,5588,10979,5302,5677,17,89,0.86,2024-03-14
10,학장동,26533,26461,13077,13384,12000,23593,11563,12030,35,177,5.48,2024-03-14
11,엄궁동,24440,24370,12129,12241,9730,20926,10407,10519,28,154,5.05,2024-03-14

,구분,인구수-남,인구수-여,세대수,18세이상인구수-남,18세이상인구수-여,65세이상인구수-남,65세이상인구수-여,통(리)수,반수
0,남천1동,7317,8642,7257,6338,7583,1386,1991,19,108
1,남천2동,6088,6977,5416,5157,6054,1255,1547,12,97
2,수영동,6710,7385,7761,6209,6928,1958,2665,24,131
3,망미1동,12726,14068,12415,11158,12623,3263,4210,42,218
4,망미2동,4988,5228,4865,4398,4715,1155,1510,18,98
5,광안1동,11904,13809,14733,10746,12841,2260,3032,32,171
6,광안2동,8616,10020,9942,7692,9064,1666,2359,21,110
7,광안3동,4458,5120,6240,4218,4881,1000,1343,17,88
8,광안4동,6077,7385,6326,5328,6625,1264,1810,18,99
9,민락동,13479,14514,13360,11754,12855,2626,3391,35,211

,구분,인구수,남1,녀1,18세 이상,남2,녀2,노인가구수(65세이상),남3,여3,1인가구수,세대수,통,반,면적(제곱키로미터)
0,초량1동,4914,2474,2440,4557,2301,2256,961,526,435,1839,2977,11,55,0.26
1,초량2동,5470,2723,2747,5160,2555,2605,1314,686,628,1978,3297,16,69,0.39
2,초량3동,12931,6242,6689,11088,5283,5805,1185,686,499,3168,6499,16,71,1.53
3,초량6동,5565,2707,2858,5176,2504,2672,1444,750,694,1544,3037,18,80,1.34
4,수정1동,4013,1948,2065,3632,1747,1885,817,445,372,915,2019,9,50,0.22
5,수정2동,9482,4508,4974,8727,4121,4606,2026,1090,936,2346,4982,23,100,1.12
6,수정4동,3677,1812,1865,3490,1709,1781,1108,542,566,1215,2157,13,64,0.92
7,수정5동,5002,2397,2605,4671,2224,2447,1320,690,630,1291,2659,15,71,0.34
8,좌 천 동,11611,5640,5971,10689,5168,5521,2298,1275,1023,2554,5855,26,126,0.46
9,범일1동,11348,5574,5774,10642,5218,5424,2670,1445,1225,3168,6220,32,145,0.98
10,범일2동,7761,3880,3881,7143,3562,3581,1269,745,524,2564,4441,18,82,0.83
11,범일5동,4214,2068,2146,3690,1801,1889,749,392,357,947,2081,13,58,1.73

,구분,인구수(계),인구수(남),인구수(여),세대수,18세이상 인구수(계),18세이상 인구수(남),18세이상 인구수(여),65세이상 인구수(계),65세이상 인구수(남),65세이상 인구수(여),통(리)수,반수,면적(제곱킬로미터),통(리)평균-반수,통(리)평균-세대수,반평균-세대수
0,구포1동,15224,7634,7590,8005,13883,6968,6915,3817,1749,2068,24,109,1.15,5,336,74
1,구포2동,23513,12009,11504,11524,21326,10869,10457,5542,2600,2942,34,170,2.91,5,339,68
2,구포3동,17982,9207,8775,8924,16517,8439,8078,4384,2031,2353,30,136,1.47,5,300,66
3,금곡동,35206,16956,18250,17697,31768,15198,16570,9942,4249,5693,38,219,8.12,6,467,81
4,화명1동,39509,19290,20219,14267,32984,15993,16991,5725,2785,2940,27,140,4.73,5,531,102
5,화명2동,17125,8286,8839,7289,14882,7131,7751,3354,1488,1866,15,87,5.03,6,487,84
6,화명3동,28183,13739,14444,10696,23616,11374,12242,4595,2050,2545,16,94,2.48,6,670,114
7,덕천1동,13329,6523,6806,7257,12250,5973,6277,3696,1582,2114,19,95,1.44,5,360,72
8,덕천2동,11007,5496,5511,6476,10365,5166,5199,3159,1362,1797,19,100,2.32,5,343,65
9,덕천3동,9823,4768,5055,5401,9094,4399,4695,3055,1256,1799,17,85,0.95,5,323,65
10,만덕1동,16201,7895,8306,7086,14040,6783,7257,3465,1624,1841,17,75,4.76,4,418,95
11,만덕2동,26293,12813,13480,11081,22538,10861,11677,5697,2613,3084,28,145,2.25,5,397,77
12,만덕3동,17429,8390,9039,7289,15604,7449,8155,4545,2081,2464,15,88,1.76,6,488,83

          행정기관명     동명           연령 성별구분   인구수
0    부산광역시 해운대구   우제1동      0세 - 9세    남   538
1    부산광역시 해운대구   우제1동      0세 - 9세    여   593
2    부산광역시 해운대구   우제1동    10세 - 19세    남   808
3    부산광역시 해운대구   우제1동    10세 - 19세    여   797
4    부산광역시 해운대구   우제1동    20세 - 29세    남  1202
..          ...    ...          ...  ...   ...
427  부산광역시 해운대구  재송제2동    90세 - 99세    여    94
428  부산광역시 해운대구  재송제2동  100세 - 109세    남     1
429  부산광역시 해운대구  재송제2동  100세 - 109세    여     2
430  부산광역시 해운대구  재송제2동      110세 이상    남     0
431  부산광역시 해운대구  재송제2동      110세 이상    여     0

[432 rows x 5 columns]

,구분,읍면동수,인구수,인구수(남),인구수(여),세대수,18세이상인구수,18세이상인구수(남),18세이상인구수(여),통(리)수,반수,면적,통(리)평균(반수),통(리)평균(세대수),반평균(세대수)
0,남항동,1,10175,5073,5102,5585,9531,4740,4791,22,118,0.74,5.4,253.9,47.3
1,영선1동,1,3667,1741,1926,1829,3359,1583,1776,8,36,0.17,4.5,228.6,50.8
2,영선2동,1,7376,3575,3801,3553,6772,3251,3521,16,105,0.63,6.6,222.1,33.8
3,신선동,1,7159,3554,3605,4185,6794,3362,3432,25,134,1.12,5.4,167.4,31.2
4,봉래1동,1,6224,3075,3149,3197,5712,2809,2903,11,70,0.30,6.4,290.6,45.7
5,봉래2동,1,7251,3515,3736,3477,6430,3105,3325,13,72,0.64,5.5,267.5,48.3
6,청학1동,1,5392,2631,2761,2741,4884,2349,2535,13,54,0.90,4.2,210.8,50.8
7,청학2동,1,16407,8081,8326,7730,14760,7257,7503,31,174,1.67,5.6,249.4,44.4
8,동삼1동,1,27962,13571,14391,13789,25043,12090,12953,49,266,3.86,5.4,281.4,51.8
9,동삼2동,1,5038,2632,2406,2585,4400,2303,2097,10,56,3.36,5.6,258.5,46.2
10,동삼3동,1,8783,4294,4489,5496,8311,4043,4268,24,117,0.81,4.9,229.0,47.0

,행정기관,인구수(합계),인구수(남),인구수(여),구성비(%),남(%),여(%),성비,세대수,세대당인구
0,부산진구,359375,173709,185666,100.00,48.34,51.66,93.56,172561,2.08
1,부전제1동,15552,7823,7729,4.33,2.18,2.15,101.22,9807,1.59
2,부전제2동,9947,4995,4952,2.77,1.39,1.38,100.87,5518,1.80
3,연지동,20842,9844,10998,5.80,2.74,3.06,89.51,8670,2.40
4,초읍동,22431,10906,11525,6.24,3.03,3.21,94.63,10082,2.22
5,양정제1동,20540,9732,10808,5.72,2.71,3.01,90.04,9230,2.23
6,양정제2동,12976,5961,7015,3.61,1.66,1.95,84.98,7841,1.65
7,전포제1동,20927,10071,10856,5.82,2.80,3.02,92.77,11684,1.79
8,전포제2동,21101,9939,11162,5.87,2.77,3.11,89.04,11245,1.88
9,부암제1동,23009,11232,11777,6.40,3.13,3.28,95.37,9709,2.37
10,부암제3동,18011,8869,9142,5.01,2.47,2.54,97.01,7036,2.56
11,당감제1동,23900,11398,12502,6.65,3.17,3.48,91.17,10453,2.29
12,당감제2동,10333,4974,5359,2.88,1.38,1.49,92.82,4584,2.25
13,당감제4동,11757,5761,5996,3.27,1.60,1.67,96.08,5206,2.26
14,가야제1동,19989,9942,10047,5.56,2.77,2.80,98.95,10324,1.94
15,가야제2동,17199,8378,8821,4.79,2.33,2.45,94.98,7321,2.35
16,개금제1동,17202,8227,8975,4.79,2.29,2.50,91.67,8859,1.94
17,개금제2동,11357,5556,5801,3.16,1.55,1.61,95.78,5058,2.25
18,개금제3동,29547,14298,15249,8.22,3.98,4.24,93.76,12418,2.38
19,범천제1동,12046,5726,6320,3.35,1.59,1.76,90.60,7197,1.67
20,범천제2동,20709,10077,10632,5.76,2.80,2.96,94.78,10319,2.01

In [70]:
import pandas as pd
import os

root = './data/인구통계자료'
path = os.path.join(root, 'assemble.csv')
print(path)

df_all = pd.read_csv(path)
df_all.set_index('no')
display(df_all[df_all['동읍면'] == 'total'])

./data/인구통계자료/assemble.csv

,no,시군구,동읍면,total,total_male,total_female,over_18age_total,over_18age_male,over_18age_female,over_65age_total,over_65age_male,over_65age_female
0,0,강서구,total,142335.0,73794.0,68541.0,112096.0,58265.0,53831.0,20714.0,9861.0,10853.0
9,9,남구,total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,중구,total,40853.0,20210.0,20643.0,NaN,NaN,NaN,NaN,NaN,NaN
37,37,기장군,total,178958.0,88623.0,90335.0,NaN,NaN,NaN,NaN,NaN,NaN
43,42,사상구,total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,55,수영구,total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,66,동구,total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,79,북구,total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,93,영도구,total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,105,부산진구,total,359375.0,173709.0,185666.0,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
total_male_sum_s = df_all[(df_all['시군구'] == '수영구') & (df_all['동읍면'] != 'total')]['total_male'].sum()
df_all.loc[(df_all['시군구'] == '수영구') & (df_all['동읍면'] == 'total'), 'total_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '수영구') & (df_all['동읍면'] != 'total')]['total_female'].sum()
df_all.loc[(df_all['시군구'] == '수영구') & (df_all['동읍면'] == 'total'), 'total_female'] = total_female_sum_s

total_male_sum_s = df_all[(df_all['시군구'] == '수영구') & (df_all['동읍면'] != 'total')]['over_18age_male'].sum()
df_all.loc[(df_all['시군구'] == '수영구') & (df_all['동읍면'] == 'total'), 'over_18age_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '수영구') & (df_all['동읍면'] != 'total')]['over_18age_female'].sum()
df_all.loc[(df_all['시군구'] == '수영구') & (df_all['동읍면'] == 'total'), 'over_18age_female'] = total_female_sum_s

total_male_sum_s = df_all[(df_all['시군구'] == '수영구') & (df_all['동읍면'] != 'total')]['over_65age_male'].sum()
df_all.loc[(df_all['시군구'] == '수영구') & (df_all['동읍면'] == 'total'), 'over_65age_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '수영구') & (df_all['동읍면'] != 'total')]['over_65age_female'].sum()
df_all.loc[(df_all['시군구'] == '수영구') & (df_all['동읍면'] == 'total'), 'over_65age_female'] = total_female_sum_s

total_male_sum_s = df_all[(df_all['시군구'] == '남구') & (df_all['동읍면'] != 'total')]['total_male'].sum()
df_all.loc[(df_all['시군구'] == '남구') & (df_all['동읍면'] == 'total'), 'total_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '남구') & (df_all['동읍면'] != 'total')]['total_female'].sum()
df_all.loc[(df_all['시군구'] == '남구') & (df_all['동읍면'] == 'total'), 'total_female'] = total_female_sum_s

total_male_sum_s = df_all[(df_all['시군구'] == '남구') & (df_all['동읍면'] != 'total')]['over_18age_male'].sum()
df_all.loc[(df_all['시군구'] == '남구') & (df_all['동읍면'] == 'total'), 'over_18age_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '남구') & (df_all['동읍면'] != 'total')]['over_18age_female'].sum()
df_all.loc[(df_all['시군구'] == '남구') & (df_all['동읍면'] == 'total'), 'over_18age_female'] = total_female_sum_s

total_male_sum_s = df_all[(df_all['시군구'] == '남구') & (df_all['동읍면'] != 'total')]['over_65age_male'].sum()
df_all.loc[(df_all['시군구'] == '남구') & (df_all['동읍면'] == 'total'), 'over_65age_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '남구') & (df_all['동읍면'] != 'total')]['over_65age_female'].sum()
df_all.loc[(df_all['시군구'] == '남구') & (df_all['동읍면'] == 'total'), 'over_65age_female'] = total_female_sum_s

total_male_sum_s = df_all[(df_all['시군구'] == '동구') & (df_all['동읍면'] != 'total')]['total_male'].sum()
df_all.loc[(df_all['시군구'] == '동구') & (df_all['동읍면'] == 'total'), 'total_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '동구') & (df_all['동읍면'] != 'total')]['total_female'].sum()
df_all.loc[(df_all['시군구'] == '동구') & (df_all['동읍면'] == 'total'), 'total_female'] = total_female_sum_s

total_male_sum_s = df_all[(df_all['시군구'] == '동구') & (df_all['동읍면'] != 'total')]['over_18age_male'].sum()
df_all.loc[(df_all['시군구'] == '동구') & (df_all['동읍면'] == 'total'), 'over_18age_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '동구') & (df_all['동읍면'] != 'total')]['over_18age_female'].sum()
df_all.loc[(df_all['시군구'] == '동구') & (df_all['동읍면'] == 'total'), 'over_18age_female'] = total_female_sum_s

total_male_sum_s = df_all[(df_all['시군구'] == '동구') & (df_all['동읍면'] != 'total')]['over_65age_male'].sum()
df_all.loc[(df_all['시군구'] == '동구') & (df_all['동읍면'] == 'total'), 'over_65age_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '동구') & (df_all['동읍면'] != 'total')]['over_65age_female'].sum()
df_all.loc[(df_all['시군구'] == '동구') & (df_all['동읍면'] == 'total'), 'over_65age_female'] = total_female_sum_s

total_male_sum_s = df_all[(df_all['시군구'] == '북구') & (df_all['동읍면'] != 'total')]['total_male'].sum()
df_all.loc[(df_all['시군구'] == '북구') & (df_all['동읍면'] == 'total'), 'total_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '북구') & (df_all['동읍면'] != 'total')]['total_female'].sum()
df_all.loc[(df_all['시군구'] == '북구') & (df_all['동읍면'] == 'total'), 'total_female'] = total_female_sum_s

total_male_sum_s = df_all[(df_all['시군구'] == '북구') & (df_all['동읍면'] != 'total')]['over_18age_male'].sum()
df_all.loc[(df_all['시군구'] == '북구') & (df_all['동읍면'] == 'total'), 'over_18age_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '북구') & (df_all['동읍면'] != 'total')]['over_18age_female'].sum()
df_all.loc[(df_all['시군구'] == '북구') & (df_all['동읍면'] == 'total'), 'over_18age_female'] = total_female_sum_s

total_male_sum_s = df_all[(df_all['시군구'] == '북구') & (df_all['동읍면'] != 'total')]['over_65age_male'].sum()
df_all.loc[(df_all['시군구'] == '북구') & (df_all['동읍면'] == 'total'), 'over_65age_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '북구') & (df_all['동읍면'] != 'total')]['over_65age_female'].sum()
df_all.loc[(df_all['시군구'] == '북구') & (df_all['동읍면'] == 'total'), 'over_65age_female'] = total_female_sum_s

total_male_sum_s = df_all[(df_all['시군구'] == '영도구') & (df_all['동읍면'] != 'total')]['total_male'].sum()
df_all.loc[(df_all['시군구'] == '영도구') & (df_all['동읍면'] == 'total'), 'total_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '영도구') & (df_all['동읍면'] != 'total')]['total_female'].sum()
df_all.loc[(df_all['시군구'] == '영도구') & (df_all['동읍면'] == 'total'), 'total_female'] = total_female_sum_s

total_male_sum_s = df_all[(df_all['시군구'] == '영도구') & (df_all['동읍면'] != 'total')]['over_18age_male'].sum()
df_all.loc[(df_all['시군구'] == '영도구') & (df_all['동읍면'] == 'total'), 'over_18age_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '영도구') & (df_all['동읍면'] != 'total')]['over_18age_female'].sum()
df_all.loc[(df_all['시군구'] == '영도구') & (df_all['동읍면'] == 'total'), 'over_18age_female'] = total_female_sum_s

total_male_sum_s = df_all[(df_all['시군구'] == '사상구') & (df_all['동읍면'] != 'total')]['total_male'].sum()
df_all.loc[(df_all['시군구'] == '사상구') & (df_all['동읍면'] == 'total'), 'total_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '사상구') & (df_all['동읍면'] != 'total')]['total_female'].sum()
df_all.loc[(df_all['시군구'] == '사상구') & (df_all['동읍면'] == 'total'), 'total_female'] = total_female_sum_s

total_male_sum_s = df_all[(df_all['시군구'] == '사상구') & (df_all['동읍면'] != 'total')]['over_18age_male'].sum()
df_all.loc[(df_all['시군구'] == '사상구') & (df_all['동읍면'] == 'total'), 'over_18age_male'] = total_male_sum_s
total_female_sum_s = df_all[(df_all['시군구'] == '사상구') & (df_all['동읍면'] != 'total')]['over_18age_female'].sum()
df_all.loc[(df_all['시군구'] == '사상구') & (df_all['동읍면'] == 'total'), 'over_18age_female'] = total_female_sum_s

df_all.loc[df_all['시군구'] == '수영구', 'total'] = df_all['total_male'] + df_all['total_female']
df_all.loc[df_all['시군구'] == '수영구', 'over_18age_total'] = df_all['over_18age_male'] + df_all['over_18age_female']
df_all.loc[df_all['시군구'] == '수영구', 'over_65age_total'] = df_all['over_65age_male'] + df_all['over_65age_female']

df_all.loc[df_all['시군구'] == '남구', 'over_18age_total'] = df_all['over_18age_male'] + df_all['over_18age_female']
df_all.loc[df_all['시군구'] == '남구', 'over_65age_total'] = df_all['over_65age_male'] + df_all['over_65age_female']

df_all.loc[df_all['시군구'] == '동구', 'over_18age_total'] = df_all['over_18age_male'] + df_all['over_18age_female']
df_all.loc[df_all['시군구'] == '동구', 'over_65age_total'] = df_all['over_65age_male'] + df_all['over_65age_female']

df_all.loc[df_all['시군구'] == '북구', 'over_18age_total'] = df_all['over_18age_male'] + df_all['over_18age_female']
df_all.loc[df_all['시군구'] == '북구', 'over_65age_total'] = df_all['over_65age_male'] + df_all['over_65age_female']

df_all.loc[df_all['시군구'] == '영도구', 'over_18age_total'] = df_all['over_18age_male'] + df_all['over_18age_female']

df_all.loc[df_all['시군구'] == '사상구', 'over_18age_total'] = df_all['over_18age_male'] + df_all['over_18age_female']

total_sum = df_all.groupby('시군구')['total'].sum().reset_index()
for i, row in total_sum.iterrows():
    df_all.loc[(df_all['시군구'] == row['시군구']) & (df_all['동읍면'] == 'total'), 'total'] = row['total'] 
display(df_all[df_all['시군구'] == '수영구'])

,no,시군구,동읍면,total,total_male,total_female,over_18age_total,over_18age_male,over_18age_female,over_65age_total,over_65age_male,over_65age_female
56,55,수영구,total,351022.0,82363.0,93148.0,157167.0,72998.0,84169.0,41691.0,17833.0,23858.0
57,56,수영구,남천1동,15959.0,7317.0,8642.0,13921.0,6338.0,7583.0,3377.0,1386.0,1991.0
58,57,수영구,남천2동,13065.0,6088.0,6977.0,11211.0,5157.0,6054.0,2802.0,1255.0,1547.0
59,58,수영구,수영동,14095.0,6710.0,7385.0,13137.0,6209.0,6928.0,4623.0,1958.0,2665.0
60,59,수영구,망미1동,26794.0,12726.0,14068.0,23781.0,11158.0,12623.0,7473.0,3263.0,4210.0
61,60,수영구,망미2동,10216.0,4988.0,5228.0,9113.0,4398.0,4715.0,2665.0,1155.0,1510.0
62,61,수영구,광안1동,25713.0,11904.0,13809.0,23587.0,10746.0,12841.0,5292.0,2260.0,3032.0
63,62,수영구,광안2동,18636.0,8616.0,10020.0,16756.0,7692.0,9064.0,4025.0,1666.0,2359.0
64,63,수영구,광안3동,9578.0,4458.0,5120.0,9099.0,4218.0,4881.0,2343.0,1000.0,1343.0
65,64,수영구,광안4동,13462.0,6077.0,7385.0,11953.0,5328.0,6625.0,3074.0,1264.0,1810.0
66,65,수영구,민락동,27993.0,13479.0,14514.0,24609.0,11754.0,12855.0,6017.0,2626.0,3391.0

In [72]:
display(df_all)

,no,시군구,동읍면,total,total_male,total_female,over_18age_total,over_18age_male,over_18age_female,over_65age_total,over_65age_male,over_65age_female
0,0,강서구,total,284670.0,73794.0,68541.0,112096.0,58265.0,53831.0,20714.0,9861.0,10853.0
1,1,강서구,대저1동,5814.0,3218.0,2596.0,5511.0,3071.0,2440.0,2362.0,1192.0,1170.0
2,2,강서구,대저2동,6520.0,3677.0,2843.0,5799.0,3286.0,2513.0,1855.0,902.0,953.0
3,3,강서구,강동동,5002.0,2634.0,2368.0,4502.0,2368.0,2134.0,1687.0,799.0,888.0
4,4,강서구,명지1동,54341.0,27274.0,27067.0,40141.0,20111.0,20030.0,4642.0,2194.0,2448.0
...,...,...,...,...,...,...,...,...,...,...,...,...
122,121,부산진구,개금제1동,17202.0,8227.0,8975.0,NaN,NaN,NaN,NaN,NaN,NaN
123,122,부산진구,개금제2동,11357.0,5556.0,5801.0,NaN,NaN,NaN,NaN,NaN,NaN
124,123,부산진구,개금제3동,29547.0,14298.0,15249.0,NaN,NaN,NaN,NaN,NaN,NaN
125,124,부산진구,범천제1동,12046.0,5726.0,6320.0,NaN,NaN,NaN,NaN,NaN,NaN
126,125,부산진구,범천제2동,20709.0,10077.0,10632.0,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df_all.to_csv(os.path.join(root, 'assemble2.csv'), index=False)

#### 해운대구

In [75]:
df_h = pd.read_csv(os.path.join(root, '부산광역시 해운대구_인구현황_20240430.csv'), encoding='cp949')
display(df_h.groupby('동명')['인구수'].sum())

동명
반송제1동    12404
반송제2동    21338
반여제1동    34194
반여제2동    11551
반여제3동     7729
반여제4동    14774
송정동       9291
우제1동     21887
우제2동     29910
우제3동     27924
재송제1동    36529
재송제2동    22606
좌제1동     17293
좌제2동     30546
좌제3동     15198
좌제4동     22090
중제1동     27217
중제2동     15183
Name: 인구수, dtype: int64